@{
    ViewBag.Title = "SiSi House";
}

<div id="ItxHomeBlocks">
    <div class="sliderHomeBlocks">
        <div class="slide_galeriablocks light current" id="slide_2">
            <div class="elementos">
                <strong>- NEW IN -</strong><br>
                <a class="button" id="button_new_in_women" href="javascript:void(0);">CLOTHES</a>
                <a class="button" id="button_new_in_men" href="javascript:void(0);">FOOTWEARS</a>
                <a class="button" id="button_new_in_bg" href="javascript:void(0);">ACCESSORIES</a>
            </div>
            <img src="http://static.massimodutti.net/3/static2/marketingSpots/MD2_ESpot_Home/2016/travel_ss16/img/new_in.jpg?20160324041000">
        </div>
    </div>

    <div id="home_the_equestrian_men" class="sliderHomeBlocks">
        <div class="slide_galeriablocks light current" id="slide_2">
            <div class="elementos">
                <strong>- THE EQUESTRIAN -</strong><br>
                <a class="button" href="javascript:void(0);">COLLECTION</a>
                <a class="button" href="javascript:void(0);">LOOKBOOK</a>
            </div>
            <img src="http://static.massimodutti.net/3/static2/marketingSpots/MD2_ESpot_Home/2016/travel_ss16/img/equestrian_men.jpg?20160324041000">
        </div>
    </div>

    <div id="home_edit_places" class="sliderHomeBlocks">
        <div class="slide_galeriablocks light current" id="slide_2">
            <div class="elementos">
                <strong>- GLASGOW CALLING -</strong><br>
                <span style="font-size:14px;  font-style: italic;">introducing Misha Hart &amp; Craig Mcginlay</span><br>
                <span style="font-size:14px;  font-style: italic;">in Edit's &amp; Places new edition</span><br>
                <a class="button" href="javascript:void(0);" target="_blank">DISCOVER</a>
            </div>
            <img src="http://static.massimodutti.net/3/static2/marketingSpots/MD2_ESpot_Home/2016/travel_ss16/img/edits_places.jpg?20160324041000">
        </div>
    </div>
</div>
