
[class^="fa-"], [class*=" fa-"] {
    padding-right: 3px;
}

/*
 * Component: Layout frame
 * -------------------------
 */

body.shop {
    padding-top: 200px;
}

.main-header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: #241E20;
    height: auto;
    box-sizing: border-box;
    min-width: 1040px;
}

.main-header #header-menu {
    height: 30px;
    background: #241E20;
}

.main-header #search {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    border: 0;
}
.main-header #searchAll
{
    color: #CCC;
    opacity: 0.7;
}

.main-header #searchAll:hover
{
    opacity: 1;
}

.main-header #search input {
    border: 0;
    outline: none;
    margin-left: 10px;
    padding: 0;
    height: 23px;
    background: #241E20;
    color: #ccc;
}

.main-header #header-menu #search, .main-header #header-menu #general-menu {
    top: 8px;
    position: fixed;
}

.main-header #header-menu #general-menu {
    right: 10px;
    float: right;
}

.main-header #header-menu #general-menu li {
    display: inline-block;
    padding: 0 5px;
    text-align: right;
    text-transform: capitalize;
}

.main-header #header-menu #general-menu li.separator {
    padding: 0;
    cursor: default;
    color: #8BA9A9;
}

.main-header #header-menu #general-menu li a {
    color: #CCC;
    opacity: 0.7;
    cursor: pointer;
}

.main-header #header-menu #general-menu li a:hover {
    opacity: 1;
}

.main-header #header-menu #general-menu ul {
    margin: 0;
}

.main-header nav #logo {
    width: 140px;
    height: 120px;
    position: inherit;
    top: 0;
    text-indent: initial;
    margin: 0 auto 5px;
}

.main-header nav #logo a {
    width: 100%;
    height: 100%;
    background: url('img/logo.png') no-repeat 0 0;
    background-size: 140px;
    display: block;
    margin: 0;
}

.management .main-header nav #logo {
    float: left;
    margin: 5px 15px;
    height: 40px;
    width: 50px;
}

.management .main-header nav #logo a {
    background-size: 50px;
}

.main-header #main-menu {
    margin-bottom: 10px;
    text-align: center;
}

.main-header nav #main-menu li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.main-header .navbar-custom-menu {
    margin: 0;
    padding: 10px 0;
}

.main-header .navbar-custom-menu a {
    text-transform: uppercase;
    font-size: 12px;
}

.main-header .navbar-custom-menu ul li a{
    padding: 0 10px 0 0;
    font-size: 12px;
}

.main-header ul.dropdown-menu {
    min-width: 100px;
}

.main-header .navbar-custom-menu ul.dropdown-menu, .main-header #general-menu ul.dropdown-menu {
    text-align: right;
}

.main-header ul.dropdown-menu > li {
    display: list-item !important;
    padding-right: 0 !important;
}

.main-header ul.dropdown-menu li a{
    padding: 5px 10px;
    background: #241E20;
}

.management .navbar-custom-menu {
    padding: 15px 10px 10px;
}

.management .main-header .navbar-custom-menu ul.dropdown-menu {
    padding-top: 0;
    right: 0;
    left: auto;
}

.main-header div.dropdown-menu {
    min-width: 100%;
    background: #fff;
    position: fixed;
    top: 120px;
    left: 0;
}

.main-header .sub-menu-content {
    display: none;
    margin: 0 auto;
}

.main-header .sub-menu-content.open {
    display: table;
}

.main-header .sub-menu {
    display: table-cell;
    height: 100%;
    min-width: 230px;
    padding-top: 15px;
    box-sizing: border-box;
    vertical-align: top;
}

.main-header .sub-menu li {
    display: list-item !important;
    margin-bottom: 17px;
    padding: 0 15%;
    text-align: inherit;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    
}

.main-header .sub-menu li a {
    display: block;
    color: #3b3b3b;
    opacity: 0.8;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
}

.main-header .sub-menu li a:hover {
    opacity: 1;
}

.main-footer a {
    font-size: 12px;
    color: #ccc;
    opacity: 0.7;
}

.main-footer a:hover {
    opacity: 1;
}

.main-footer .navbar-custom-menu {
    float: right;
    padding: 0;
}

.login-link {
    float: right;
    width: 115px;
}

.main-footer ul {
    margin-bottom: 4px;
}

header.unfolded-header {
    position: fixed;
}

header.unfolded-header #header-menu {
    height: 0;
}

header.unfolded-header nav #logo {
    display: none;
}

header.unfolded-header div.dropdown-menu {
    top: 45px;
}

header nav #sub-menu {
    width: 100%;
    display: block;
    background: transparent;
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9ffffff,endColorstr=#f9ffffff)';
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #eee;
}

/* CONTACT */
#mdContactUs {
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
}

#mdContactUs #closeContact {
    font-size: 12px;
    color: #BBB;
    position: fixed;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#mdContactUs .modal-dialog {
    width: 600px;
    margin-top: 155px;
}

#mdContactUs hr {
    margin: 20px 0 10px;
}

#mdContactUs i {
    font-size: 24px;
}

#mdContactUs .text-center div {
    margin: 3px 0;
}

#mdContactUs .follow-us {
    margin-top: 10px;
}

#mdContactUs .follow-us i {
    margin: 0 5px;
    color: #3d3d3d;
}

#mdContactUs .follow-us i:hover {
    color: #0e0e0e;
}

/*
 * Component: Content
 * -------------------------
 */
.content-header {
    position: relative;
    padding-top: 20px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #ccc;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header > h1,.content-header-edit> h1 {
    margin: 0;
    padding: 0 0 15px;
    font-size: 24px;
    text-transform: uppercase;
}

.search-form {
    border-top: 1px solid #DFDFDF;
    padding: 15px 0 0;
}

.search-action {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px solid #DFDFDF;
}

.show-hide-search {
    float: right;
    width: 50px;
    background: #F4F4F4;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #6C6C6C;
    cursor: pointer;
}

    .show-hide-search i {
        width: 100%;
        color: #241E20;
    }

.add-action {
    padding: 20px 10px 0;
}

.content-header-edit{
    position: relative;
    padding-top: 30px;
    padding-left:20px;
    background-color: #F4F4F4;
}

.data-list{
    margin-top: 20px;
    padding: 40px 15px 20px;
    background-color: #FFF;
}

.form-horizontal {
    padding: 30px 15px;
}

.modal .form-horizontal {
    padding: 0px 15px;
}

.select-dialog .content-wrapper {
    margin-top: 0;
}

@media (min-width: 768px) {
     .modal-dialog.form-action {
      width: 800px;
      margin: 50px auto;
    }
}

#error {
    margin-top: 10%;
}

.dropdown-menu.login-user {
    right: -10px;
    padding-top: 7px !important;
    min-width: 50px !important;
}

.main-header ul.dropdown-menu.login-user li a {
    padding: 5px 18px;
}

#scrollTop {
    position: fixed;
    bottom: 55px;
    right: 1%;
    display: none;
    text-align: center;
    background: url(img/back_to_top.png) no-repeat 0 0;
    background-size: 50px;
    background-color: #E7E7E7;
    width: 50px;
    height: 37px;
    outline: none;
    z-index: 1000;
}

.management #scrollTop {
    right: 3px;
    background-color: transparent;
}

#scrollTop:hover {
    background-color: #CCC;
}

.management .content-wrapper {
    margin-top: 40px;
}

/* HOME */

.sliderHomeBlocks {
    position: relative;
    overflow: hidden;
}

#ItxHomeBlocks .light {
    color: #ffffff;
    border: none;
}

.sliderHomeBlocks .slide_galeriablocks.current {
    z-index: 1;
}

.sliderHomeBlocks .slide_galeriablocks {
    position: relative;
}

.sliderHomeBlocks .slide_galeriablocks {
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    width: 100%;
}

.slide_galeriablocks .elementos {
    position: absolute;
    width: 100%;
    font-family: 'Lato';
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.13em;
    text-align: center;
    z-index: 2;
    top: 40%;
    margin: 0;
}

.slide_galeriablocks a.button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out 0s;
}

.slide_galeriablocks.light a.button {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 125px;
    margin-left: 10px;
    margin-right: 10px;
}

.slide_galeriablocks.light a.button:hover {
    background-color: #ffffff;
    color: #000000;
}

#ItxHomeBlocks img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/* MANAGE */
.management {
    font-family: Arial,Helvetica,sans-serif !important;
}

.manage-menu ul {
    margin-top: 15px;
}


/* PRODUCT LIST */
#iPageContent {
    width: auto;
    height: auto;
    overflow: hidden;
    margin-top: 0;
    color: #4a4a4a;
}

#iPageContent #sub-nav {
    font-family: 'Lato', sans-serif;
    margin: 10px 10px 0;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #505252;
    font-weight: 300;
}

#iPageContent #sub-nav .breadcrumb {
    display: inline-block;
    cursor:default;
}

.scroll-over-top #sub-nav .breadcrumb {
    position: fixed;
    top: 50px;
}

.scroll-over-top #sub-nav .pull-right {
    position: fixed;
    top: 50px;
    right: 0;
    margin: 0 10px;
}

#iPageContent #sub-nav .pull-right .views {
    height: auto;
    overflow: hidden;
    margin-top: 2px;
}

#iPageContent #sub-nav .pull-right .views li {
    float: left;
    margin-left: 10px;
}

#iPageContent #sub-nav .pull-right .views li#two-columns a {
    background: url(img/two_columns_icon.png) no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    color: #C77F1D;
    opacity: 0.7;
}

#iPageContent #sub-nav .pull-right .views li#four-columns a {
    background: url(img/four_columns_icon.png) no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    opacity: 0.7;
}

#iPageContent #sub-nav .pull-right .views li a.selected, #iPageContent #sub-nav .pull-right .views li a.selected:hover {
    background-position: 0 -15px !important;
    opacity: 1 !important;
}

#iPageContent #sub-nav .pull-right .views li a:hover {
    background-position: 0 -15px !important;
    opacity: 0.7 !important;
}

#iPageContent #products {
    position: relative;
    overflow: hidden;
    margin: 20px 230px 0;
}

#iPageContent #products #products-content {
    position: relative;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1070px;
}

#iPageContent #products #products-content #product-list li {
    display: block;
    float: left;
    width: 48%;
    margin: 0 2% 2% 0;
    position: relative;
    opacity: 1;
}

#iPageContent #products #products-content #product-list .product .product-image {
    position: relative;
    display: block;
}


#iPageContent #products #products-content #product-list .product .product-image .img-responsive {
    display: block;
    height: auto;
    width: 100%;
}

#iPageContent #products #products-content #product-list .product .product-image .main {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    opacity: 1;
}

#iPageContent #products #products-content #product-list .product .product-image .main:hover {
    opacity: 0;
}

#iPageContent #products #products-content #product-list .product .product-image .auxiliar {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    opacity: 1;
}

#iPageContent #products #products-content.four #product-list .product {
    width: 23%;
    margin: 0 2% 2% 0;
}

#loadingCollection {
    display: none;
    color: #999999;
    font-size: 30px;
}


/* PRODUCT INFO */
#iPageContent.product-info {
    position: relative;
    width: 100%;
    height: auto;
    min-width: 1024px;
    overflow: hidden;
    font-family: Lato,'Trebuchet MS',Helvetica,sans-serif;
    font-weight: 700;
}

#iPageContent.product-info #product-detail {
    color: #505252;
}

#iPageContent.product-info #product-detail #product-images {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 63%;
    float: left;
}

#iPageContent.product-info #product-detail #product-images #product-main-images {
    width: 100%;
    min-height: 697px;
}

#iPageContent.product-info #product-detail #product-images #product-main-images>img {
    display: block;
    width: 100%;
    height: auto;
}

#iPageContent.product-info #product-detail #product-info {
    width: 37%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 36px;
    padding-top: 30px;
}

#iPageContent.product-info #product-detail #product-info>.wrapper {
    max-width: 444px;
    margin: 0 auto;
    padding-left: 20px;
    width: 100%;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-actions #goBack {
    float: left;
    font-family: Lato,'Trebuchet MS',Helvetica,sans-serif;
    font-weight: 300;
    color: #505252;
    background: transparent url(img/goback_icon.png) left center no-repeat;
    padding-left: 15px;
    font-size: 15px;
    cursor: pointer;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-actions #shareButtons {
    float: right;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-actions #shareButtons li {
    float: left;
    margin: 3px 5px;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-actions #shareButtons li a#facebook {
    cursor: pointer;
    color: #505252;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info {
    text-align: center;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-ref {
    font-family: Lato,'Trebuchet MS',Helvetica,sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 40px 0 0;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info h1.product-name {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 16px 0 22px;
    letter-spacing: 0.10em;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info .product-prices {
    position: relative;
    font-family: Lato,'Trebuchet MS',Helvetica,sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 32px;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info .product-prices .prices {
    background-color: #fff;
    display: inline-block;
    padding: 0 10px;
    z-index: 1;
    position: relative;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info .product-prices .prices .currentPrice {
    display: inline-block;
    margin: 0;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info .product-prices hr {
    position: absolute;
    z-index: 0;
    width: 90%;
    border-top: 1px solid #d3d4d4;
    margin: 0 5%;
    top: 50%;
}

#iPageContent.product-info #product-detail #product-info>.wrapper .product-main-info #product-long-desc {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 22px;
    font-style: italic;
    letter-spacing: 0.10em;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs {
    width: 100%;
    margin-top: 50px;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs ul {
    max-width: 290px;
    margin: 0 auto;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs ul li {
    display: inline-block;
    width: 65px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs ul li:hover, #iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs ul li.active {
    border: 1px solid #d3d4d4;
}

#iPageContent.product-info #product-detail #product-info>.wrapper #product-image-thumbs ul li img {
    width: 100%;
    height: auto;
}