
/*
 * Component: Layout frame
 * -------------------------
 */

[class^="fa-"], [class*=" fa-"] {
    padding-right: 3px;
}

.main-header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: #241E20;
    height: auto;
    box-sizing: border-box;
    min-width: 1040px;
}

.main-header #header-menu {
    height: 40px;
    background: #241E20;
}

.main-header #search {
    left: 10px;
    padding-left: 13px;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    border: 0;
}
.main-header #searchAll
{
    color: #8BA9A9;
}

.main-header #search input {
    border: 0;
    outline: none;
    margin-left: 10px;
    padding: 0;
    height: 23px;
    background: #241E20;
    color: white;
}

.main-header #header-menu #search, .main-header #header-menu #general-menu {
    top: 8px;
    position: fixed;
}

.main-header #header-menu #general-menu {
    right: 10px;
    float: right;
}

.main-header #header-menu #general-menu li {
    display: inline-block;
    padding: 0 5px;
    text-align: right;
    text-transform: capitalize;
}

.main-header #header-menu #general-menu li.separator {
    padding: 0;
    cursor: default;
    color: #8BA9A9;
}

.main-header #header-menu #general-menu ul {
    margin: 0;
}

.main-header nav #logo {
    width: 30px;
    height: 30px;
    position: inherit;
    top: 0;
    text-indent: initial;
    margin: 0 auto 5px;
}

.main-header nav #logo a {
    width: 100%;
    height: 100%;
    background: url('../images/logo.jpg') no-repeat 0 0;
    background-size: 30px;
    display: block;
    margin: 0;
}

.main-header #main-menu {
    text-align: center;
}

.main-header nav #main-menu li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 20px;
    letter-spacing: 0.01em;
    margin-top: 10px;
    padding-bottom: 5px;
}

.main-header .navbar-custom-menu {
    margin: 0;
    padding: 10px 0;
}

.main-header .navbar-custom-menu a {
    text-transform: uppercase;
    font-size: 12px;
}

.main-header .navbar-custom-menu ul li a{
    padding: 0 10px 0 0;
    font-size: 12px;
}

.main-header ul.dropdown-menu {
    min-width: 100px;
}

.main-header .navbar-custom-menu ul.dropdown-menu, .main-header #general-menu ul.dropdown-menu {
    text-align: right;
}

.main-header ul.dropdown-menu > li {
    display: list-item !important;
    padding-right: 0 !important;
}

.main-header ul.dropdown-menu li a{
    padding: 5px 10px;
    background: #241E20;
}

.management .navbar-custom-menu {
    padding: 10px;
}

.management .main-header .navbar-custom-menu ul.dropdown-menu {
    padding-top: 0;
    right: 0;
    left: auto;
}

.main-header div.dropdown-menu {
    min-width: 100%;
    background: #fff;
    position: fixed;
    top: 120px;
    left: 0;
}

.main-header .sub-menu-content {
    display: none;
    margin: 0 auto;
}

.main-header .sub-menu-content.open {
    display: table;
}

.main-header .sub-menu {
    display: table-cell;
    height: 100%;
    min-width: 230px;
    padding-top: 10px;
    box-sizing: border-box;
    vertical-align: top;
}

.main-header .sub-menu li {
    display: list-item !important;
    padding: 0 15%;
    font-family: 'Lato';
    font-weight: 400;
    text-transform: capitalize;
    text-align: inherit;
    margin-bottom: 17px;
}

.main-header .sub-menu li a {
    display: block;
    color: #3b3b3b;
    opacity: 0.8;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
}

.main-header .sub-menu li a:hover {
    opacity: 1;
}

.main-footer a {
    font-size: 12px;
}

.main-footer .navbar-custom-menu {
    float: right;
    padding: 0;
}

.login-link {
    float: right;
    width: 115px;
}

.main-footer ul {
    margin-bottom: 4px;
}

header.unfolded-header {
    position: fixed;
}

header.unfolded-header #header-menu {
    height: 0;
}

header.unfolded-header nav #logo {
    display: none;
}

header.unfolded-header div.dropdown-menu {
    top: 45px;
}

header nav #sub-menu {
    width: 100%;
    display: block;
    background: transparent;
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9ffffff,endColorstr=#f9ffffff)';
    background-color: rgba(255, 255, 255, 0.98);
}

/*
 * Component: Content
 * -------------------------
 */
.content-header {
    position: relative;
    padding-top: 20px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #ccc;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header > h1,.content-header-edit> h1 {
    margin: 0;
    padding: 0 0 15px;
    font-size: 24px;
    text-transform: uppercase;
}

.search-form {
    border-top: 1px solid #DFDFDF;
    padding: 15px 0 0;
}

.search-action {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px solid #DFDFDF;
}

.show-hide-search {
    float: right;
    width: 50px;
    background: #F4F4F4;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #6C6C6C;
    cursor: pointer;
}

    .show-hide-search i {
        width: 100%;
        color: #241E20;
    }

.add-action {
    padding: 20px 10px 0;
}

.content-header-edit{
    position: relative;
    padding-top: 30px;
    padding-left:20px;
    background-color: #F4F4F4;
}

.data-list{
    margin-top: 20px;
    padding: 40px 15px 20px;
    background-color: #FFF;
}

.form-horizontal {
    padding: 30px 15px;
}

.modal .form-horizontal {
    padding: 0px 15px;
}

.select-dialog .content-wrapper {
    margin-top: 0;
}

@media (min-width: 768px) {
     .modal-dialog.form-action {
      width: 800px;
      margin: 50px auto;
    }
}

#error {
    margin-top: 10%;
}

.dropdown-menu.login-user {
    right: -10px;
    padding-top: 7px !important;
    min-width: 50px !important;
}

.main-header ul.dropdown-menu.login-user li a {
    padding: 5px 18px;
}

#scrollTop {
    position: fixed;
    bottom: 55px;
    right: 1%;
    display: none;
    font-size: 10px;
    color: #4d4d4f;
    text-align: center;
    background: url(img/back_to_top.png) no-repeat 0 0;
    width: 52px;
    height: 39px;
    text-indent: -9999px;
    outline: none;
    z-index: 1000;
}

#scrollTop:hover {
    background-color: #CCC;
}

.management .content-wrapper {
    margin-top: 40px;
}

/* HOME */
#ItxHomeBlocks {
    padding-top: 20px;
}

.sliderHomeBlocks {
    position: relative;
    overflow: hidden;
}

#ItxHomeBlocks .light {
    color: #ffffff;
    border: none;
}

.sliderHomeBlocks .slide_galeriablocks.current {
    z-index: 1;
}

.sliderHomeBlocks .slide_galeriablocks {
    position: relative;
}

.sliderHomeBlocks .slide_galeriablocks {
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    width: 100%;
}

.slide_galeriablocks .elementos {
    position: absolute;
    width: 100%;
    font-family: 'Lato';
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.13em;
    text-align: center;
    z-index: 2;
    top: 40%;
    margin: 0;
}

.slide_galeriablocks a.button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out 0s;
}

.slide_galeriablocks.light a.button {
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 125px;
    margin-left: 10px;
    margin-right: 10px;
}

.slide_galeriablocks.light a.button:hover {
    background-color: #ffffff;
    color: #000000;
}


#ItxHomeBlocks img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}