
<div id="iPageContent">
    <input type="hidden" id="hdnCollectionType" value="@ViewBag.Title" />
    <input type="hidden" id="hdnTotalProduct" value="@ViewBag.TotalProduct" />

    <div id="sub-nav">
        <div class="breadcrumb">
            <i class="fa fa-caret-right"></i>
            <span>@ViewBag.Title</span>
        </div>
        <ul class="pull-right">
            <li class="views">
                <ul>
                    <li id="two-columns">
                        <a class="view-type selected" href="javascript:void(0);" data-columns="2"></a>
                    </li>
                    <li id="four-columns">
                        <a class="view-type" href="javascript:void(0);" data-columns="4"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="products">
        <div id="products-content" class="">
            <ul id="product-list" class="clearfix">
            </ul>
        </div>
    </div>

    <div id="loadingCollection" class="text-center">
        <i class="fa fa-spinner faa-spin animated">
        </i>
    </div>
</div>

@Scripts.Render("~/bundles/ShowCollection")

