<footer class="main-footer">
    <div class="navbar-nav">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#">
                    GIỚI THIỆU
                </a>
            </li>
            <li class="dropdown">
                <a href="#">
                    HƯỚNG DẪN
                </a>
            </li>
        </ul>
    </div>
    @*<div class="navbar-custom-menu">
        <strong>Copyright &copy; 2015 SiSi House</strong>All rights reserved.
    </div>*@
</footer>
