<footer class="main-footer">
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#">
                    Shopping Guide
                </a>
            </li>
            <li class="dropdown">
                <a href="#">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-right text-right">
        <ul>
            <li class="dropdown">
                <a href="https://www.facebook.com/sisihouse.myeyes.yourstyle" target="_blank">
                    <i class="fa fa-facebook-official"></i> Follow Us
                </a>
            </li>
        </ul>
    </div>
</footer>
