<footer class="main-footer">
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#">
                    Shopping Guide
                </a>
            </li>
            <li class="dropdown">
                <a href="#">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
    @*<div class="pull-right text-right">
        <ul>
            <li class="dropdown">
                Follow Us 
                <a href="https://www.facebook.com/sisihouse.myeyes.yourstyle" target="_blank" title="Facebook">
                    <i class="fa fa-facebook-official"></i> 
                </a>
                <a href="javascript:void(0);" target="_blank" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>*@
</footer>
