@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi hệ thống";
}

<div id="error" class="center">
    <h2>LỖI HỆ THỐNG</h2>
    <ul>
        <li>Đã xảy ra lỗi trong quá trình hoạt động.</li>
        <li>Xin vui lòng thử lại sau.</li>
    </ul>
</div>
