
<div id="products-content" class="">
    <ul id="product-list" class="clearfix">
        <li id="id-7087521" class="product visible-c" data-colors="G-AZULES" data-features="C-CASUAL,C-SPORT" data-sizes="S,M,L,XL,XXL">
            <a class="product-image  " href="http://www.massimodutti.com/es/en/men/jackets/stone-washed-blue-safari-jacket-c680512p7087521.html?colorId=400&amp;categoryNav=680512">
                <img class="lazy img-responsive main" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
                <img class="lazy img-responsive auxiliar" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
            </a>
        </li>
        <li id="id-7087521" class="product visible-c" data-colors="G-AZULES" data-features="C-CASUAL,C-SPORT" data-sizes="S,M,L,XL,XXL">
            <a class="product-image  " href="http://www.massimodutti.com/es/en/men/jackets/stone-washed-blue-safari-jacket-c680512p7087521.html?colorId=400&amp;categoryNav=680512">
                <img class="lazy img-responsive main" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
                <img class="lazy img-responsive auxiliar" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
            </a>
        </li>
        <li id="id-7087521" class="product visible-c" data-colors="G-AZULES" data-features="C-CASUAL,C-SPORT" data-sizes="S,M,L,XL,XXL">
            <a class="product-image  " href="http://www.massimodutti.com/es/en/men/jackets/stone-washed-blue-safari-jacket-c680512p7087521.html?colorId=400&amp;categoryNav=680512">
                <img class="lazy img-responsive main" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
                <img class="lazy img-responsive auxiliar" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
            </a>
        </li>
        <li id="id-7087521" class="product visible-c" data-colors="G-AZULES" data-features="C-CASUAL,C-SPORT" data-sizes="S,M,L,XL,XXL">
            <a class="product-image  " href="http://www.massimodutti.com/es/en/men/jackets/stone-washed-blue-safari-jacket-c680512p7087521.html?colorId=400&amp;categoryNav=680512">
                <img class="lazy img-responsive main" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_1_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
                <img class="lazy img-responsive auxiliar" src="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" data-original="http://static.massimodutti.net/3/photos/2016/V/0/2/p/3426/233/400/3426233400_2_1_13.jpg?t=1455036882172" alt="STONE-WASHED BLUE SAFARI JACKET">
            </a>
        </li>
    </ul>
</div>

@Scripts.Render("~/bundles/ShowCollection")
